.app_orange_theme {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #FF971C;
    --primary-color: #c81909;
    --secondary-color: #e34234;
    --inverted-primary-color: #d0d0d7;
    --inverted-secondary-color: #f4f4f4;
}